{% extends 'core/base.html' %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset your password</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
        Enter your email address and we'll send you a link to reset your password.
    </p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" method="POST">
      {% csrf_token %}
      <div>
        <label for="id_email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="id_email" name="email" type="email" autocomplete="email" required 
                 class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit" 
                class="flex w-full justify-center rounded-md bg-gray-700 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-black focus-visible:outline-2 focus-visible:outline-offset-2 ">
          Send reset link
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Remembered your password?
      <a href="{% url 'login' %}" class="font-semibold leading-6 text-brand hover:text-brand-strong">Back to login</a>
    </p>
  </div>
</div>
{% endblock %}
